<article class="max-w-10xl mx-auto md:pt-0">
  <section class="relative flex items-center justify-center min-h-100px">
    <div class=""></div>
    <section class="grid sm:grid-cols-3 lg:grid-cols-3 gap-4 p-12">
      <div class="card bg-base-100 w-96 shadow-sm border-red-800 border-2">
        <figure class="px-10 pt-10">
          <img src="/image2.png" alt="Image 2" />
        </figure>
        <div class="card-body items-center text-center">
        </div>
      </div>

      <div class="card bg-base-100 w-96 shadow-sm border-red-800 border-2">
        <figure class="px-10 pt-10 pb-10">
          <img src="/image3.png" alt="Image 3" />
        </figure>

        <div class="card-body items-center text-center">
        </div>
      </div>

      <div class="flex flex-col card bg-base-100 w-96 shadow-sm border-red-800 border-2">
        <figure class="px-10 pt-10">
          <img src="/image4.png" alt="borups" alt="Shoes" class="rounded-xl blink-2" />
        </figure>
        <div class="card-body items-center text-center">
        </div>
      </div>
    </section>
  </section>
</article>


