---
---
<div>
<p>Footer - tilføj footerindhold</p>
<div class="footer-columns">
    <div class="footer-column">
        <h3>Copyright</h3>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
    <div class="footer-column">
        <h3>Contact Info</h3>
        <p>Email: info@yourcompany.com</p>
        <p>Phone: +1 234 567 890</p>
    </div>
    <div class="footer-column">
        <h3>Follow Us</h3>
        <a href="https://facebook.com/yourcompany">Facebook</a>
        <a href="https://twitter.com/yourcompany">Twitter</a>
        <a href="https://instagram.com/yourcompany">Instagram</a>
    </div>
</div>
</div>
  